@tailwind base;
@tailwind components;
@tailwind utilities;

.Card{
    @apply w-72 h-96 shadow-md rounded-lg flex-none  hover:-translate-y-2 hover:shadow-xl
}


.placeholder-letter-spacing {
    letter-spacing: 2px; /* Puedes ajustar el valor según tus necesidades */
  }

  .CardTitle {
    @apply  text-xl px-8 pt-8 pb-1 font-semibold text-white tracking-widest/* Puedes ajustar el valor según tus necesidades */
  }

  .cls-1 {
    fill: #929191;
}

.cls-2 {
    fill: #bcbcbb;
}

.cls-3 {
    fill: #e74926;
}
@font-face {
    font-family: "Avenir Next Light";
    src: url("/public/fonts/AvenirNextCyr-Light.ttf") format("truetype");
    /* Agrega otros formatos de fuente aquí si los tienes */
  }

  @import 'tailwindcss/base';
/* Otras importaciones de Tailwind */

/* Anula el ajuste de tamaño de texto predeterminado */
html {
  -webkit-text-size-adjust: initial; /* Cambia esto según tus necesidades */
}